//Global styles
$mainColor: #0563bb;
$secondaryColor: #45505b;
$mainHeaderColor: #141c3a;

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}

a {
  text-decoration: none !important;
}

body {
  font-family: "Cairo", sans-serif !important;
}

.section-title {
  text-align: center;
  position: relative;
  h1.main-heading {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: $secondaryColor;
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 120px;
      height: 1px;
      background: #ddd;
      bottom: 1px;
      left: calc(50% - 60px);
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 40px;
      height: 3px;
      background: $mainColor;
      bottom: 0;
      left: calc(50% - 20px);
    }
  }
}

@media (min-width: 768px) {
  .container {
    padding-left: 80px !important;
  }
}
//Global styles

// scroll-to-top button
.scroll-to-top {
  display: none;
  opacity: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 55;
  cursor: pointer;

  i {
    color: #fff;
    background-color: #0563bb;
    padding: 10px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
  }
}
.scroll-to-top.active {
  display: block;
  opacity: 1;
}
// scroll-to-top button

// mobile nav button
.mobile-nav-button {
  display: none;
  position: fixed;
  top: 15px;
  right: 20px;
  color: white;
  background-color: $mainColor;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  text-align: center;
  line-height: 2;
  font-size: 28px;
  z-index: 1111;
  cursor: pointer;
}

@media (max-width: 768px) {
  .mobile-nav-button {
    display: block;
  }
}

.active-mobile-navbar {
  left: 0 !important;
}

@media (max-width: 768px) {
  nav {
    background-color: white;
    height: 100vh;
    width: 75%;
    position: fixed !important;
    top: 0 !important;
    left: -900px !important;
    right: 0 !important;
    bottom: 0 !important;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;

    li {
      width: 100% !important;
    }
  }
}
// mobile nav button

// nav-menu
.nav-menu {
  display: inline-table;
  position: fixed;
  top: 275px;
  right: 0;
  left: 0;
  z-index: 1030;
  ul {
    padding: 2rem !important;
    li {
      width: 56px;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;

      &:hover {
        width: 165px;
      }
    }

    li.active,
    li:hover {
      a {
        color: #fff;
        background: #0563bb;
      }
    }
    a {
      display: flex;
      align-items: center;
      color: $secondaryColor;
      padding: 10px 18px;
      margin-bottom: 8px;
      font-size: 15px;
      border-radius: 50px;
      background: #f2f3f5;
      height: 56px;
      width: 100%;
      overflow: hidden;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
    }

    i {
      font-size: 20px;
      margin-right: 25px;
    }
  }
}

// nav-menu

// Hero Section

.hero-section {
  text-align: center;
  min-height: 100vh;

  .hero-section-info {
    h1 {
      color: $mainHeaderColor;
      font-size: 64px;
      font-weight: 700;
      line-height: 56px;
      margin: 0;
      padding-top: 100px;
    }

    p {
      color: $mainHeaderColor;
      margin: 15px 0 10px 0;
      font-size: 26px;

      span {
        color: $mainColor;
      }
    }

    ul.social-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 !important;

      .cv-btn,
      .new-portfolio-btn {
        background-color: $mainHeaderColor;
        padding: 0 5px;
        color: white !important;
        border-radius: 5px;

        &:hover {
          background-color: #141c3ad9;
        }
      }

      li {
        margin-right: 20px;
        transition: all 0.3s;

        i {
          font-size: 25px;
          color: $mainHeaderColor;
          &:hover {
            color: #141c3ad9;
          }
        }
      }
    }

    .avatar-wraper {
      margin-top: 45px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .personal-avatar {
        height: 455px;
        width: 395px;
        object-fit: cover;
        border-radius: 50%;
      }

      .pc-mobile-avatar {
        margin-top: 160px;
        margin-bottom: 20px;
        position: relative;
        animation-name: up-and-down;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
  }
}

@media (max-width: 992px) {
  .hero-section {
    h1 {
      font-size: 32px !important;
    }
    p {
      font-size: 20px !important;
      margin: 0px 0 12px 0 !important;
    }
  }
}

@media (max-width: 576px) {
  ul.social-icons {
    flex-direction: column;

    li {
      padding: 7px 0;
    }
  }
}

// About section
.about-section {
  padding: 60px 0;
  opacity: 0;
  visibility: hidden;
  h3 {
    font-weight: 700;
    font-size: 26px;
    color: $mainHeaderColor;
  }

  ul li {
    padding: 5px;
  }

  i {
    padding-right: 5px;
  }
}

// skills section
.skills-section {
  padding: 60px 0;
  opacity: 0;
  visibility: hidden;
  .skills {
    flex: 1;
  }
  .skill {
    h3 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      margin-top: 15px;
      span {
        font-size: 12px;
        border: 1px solid #ccc;
        padding: 3px 5px;
        border-radius: 4px;
        color: $mainColor;
      }
    }
    .the-progress {
      height: 20px;
      background-color: #eee;
      position: relative;

      span {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background-color: $mainColor;
        transition: width 0.5s linear;
      }
    }
  }
}

// End skills section

// Resume section
.resume-section {
  padding: 60px 0;
  opacity: 0;
  visibility: hidden;
  .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $secondaryColor;
  }
  .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid $mainColor;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50px;
      left: -9px;
      top: 0;
      background: #fff;
      border: 2px solid $mainColor;
    }
    h4 {
      line-height: 18px;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      font-family: "Poppins", sans-serif;
      color: $mainColor;
      margin-bottom: 10px;
    }
    h5 {
      font-size: 16px;
      background: #f7f8f9;
      padding: 5px 15px;
      display: inline-block;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
}
// End Resume section

// Start portfolio-section
.portfolio-section {
  padding: 60px 0;
  opacity: 0;
  visibility: hidden;
  .row {
    position: relative;
    margin-top: 60px;
  }

  .portfolio-wrap {
    position: relative;
    margin: 12px;
    border-radius: 8px;
    box-shadow: 1px 1px 7px 0px #0d6efdba;
    overflow: hidden;
    transition: all ease-in-out 0.3s;

    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      background-color: #ffffffb3;
      z-index: 2;
      opacity: 0;
      transition: all ease-in-out 0.2s;
      -webkit-transition: all ease-in-out 0.3s;
      -moz-transition: all ease-in-out 0.3s;
      -ms-transition: all ease-in-out 0.3s;
      -o-transition: all ease-in-out 0.3s;
    }

    &:hover {
      box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.59);
      transform: scale(1.1);

      .portfolio-info {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .portfolio-info {
    position: absolute;
    left: 0px;
    top: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    z-index: 3;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.76);

    p {
      font-size: 0.85rem;
    }

    a {
      font-weight: 400;
      border-radius: 20px;
      &:hover {
        color: $mainColor;
        background-color: white;
      }

      i {
        padding-left: 5px;
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .portfolio-section .portfolio-info {
    h5 {
      font-size: 1rem;
    }
    p {
      font-size: 0.75rem;
    }
  }
}
// End portfolio-section

// Start CERTIFICATIONS section
.certifications-section {
  padding: 60px 0;
  background-color: #eee;
  opacity: 0;
  visibility: hidden;
  .certification-item {
    background-color: white;
    padding: 10px;
    margin: 21px 15px;
    text-align: center;
    transition: all 0.3s;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

    &:hover {
      box-shadow: 0px 5px 90px 0px rgb(110 123 131 / 59%);
      scale: 1.1;
      .info h4 a {
        color: $mainColor;
        border-radius: 20px;
      }
    }
  }

  .certification-logo {
    max-width: 100%;
    height: 200px;
    object-fit: contain;
  }

  .certification-pic {
    max-width: 100%;
    height: 290px;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
  }

  .info {
    h4 {
      font-size: 20px;
      padding: 15px 0;
      font-weight: 700;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        color: $secondaryColor;
        transition: 0.3s;
      }
    }
  }
}

@media (max-width: 576px) {
  .certifications-section {
    .icon {
      padding: 20px 0;
      height: auto;
    }
    .info {
      padding: 20px 0;
      text-align: center;
    }
  }
}
// End CERTIFICATIONS section

// Start Contact Section
.contact-section {
  padding: 60px 0;

  .info {
    .address {
      &:hover i {
        color: white;
        background-color: $mainColor;
      }
    }

    .email {
      &:hover i {
        color: white;
        background-color: $mainColor;
      }
    }

    .phone {
      &:hover i {
        color: white;
        background-color: $mainColor;
      }
    }

    i {
      font-size: 20px;
      color: $mainColor;
      float: left;
      width: 44px;
      height: 44px;
      background: #eef7ff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      transition: all 0.3s ease-in-out;
    }

    h4 {
      padding: 0 0 0 60px;
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 5px;
      color: $secondaryColor;
    }

    p {
      padding: 0 0 0 60px;
      margin-bottom: 0;
      font-size: 14px;
      color: #728394;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      color: $secondaryColor;
      font-size: 20px;
    }

    input {
      padding: 5px 10px;
      margin: 10px 0;
      border-radius: 4px;
      border: 1px solid #ced4da;

      &:focus {
        outline: none;
        border-color: $mainColor;
      }
    }
  }
  textarea {
    border-radius: 4px;
    border: 1px solid #ced4da;
    padding: 10px;
    margin: 10px 0;
    resize: none;

    &:focus {
      outline: none;
      border-color: $mainColor;
    }
  }
  .button {
    button {
      border: none;
      text-transform: uppercase;
      padding: 10px 15px;
      margin-top: 20px;
      background-color: $mainColor;
      color: white;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;

      &:hover {
        background-color: #0678e3;
        color: white;
      }
    }
  }
}

// End Contact Section

footer {
  background: #f7f8f9;
  color: #45505b;
  text-align: center;
  padding: 30px 0;

  h3 {
    font-size: 36px;
    font-weight: 700;
    padding: 0;
    margin: 0 0 15px 0;
  }

  p {
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
  }

  a {
    background-color: $mainColor;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    line-height: 2;

    &:hover {
      background-color: #0678e3;
      color: white;
    }
  }
}
